body {background-color:black; font-family: arial; color: white}
h1{color:grey; font-family: verdana;}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
}

footer{
    text-align: left;
}


/*input{align-self: center;}*/

.maindiv{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 25px;
    text-align:center;
}

.inputs{
    margin-left: 50px;
    text-align: left;
}
